{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1>Register</h1>
    <p> Avant de soumettre et envoyer ce formulaire,  Assurez vous que vous avez l'application <a href="https://fedorahosted.org/freeotp/">FreeOTP</a> 
       est bien installé sur votre mobile, parce que vous on aura besoin pour completer votre inscription. Installer l'application sur ce lien <a href="https://itunes.apple.com/us/app/freeotp/id872559395">iTunes</a> ou <a href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp">Google Play</a></p>
    {{ wtf.quick_form(form) }}
    <br>
    <div class="alert alert-danger" role="alert">Note : Assurez-vous que aucune personne n'aura la possibilité de voir votre écran avant d'appuyer sur le bouton "Enregistrer", Cette page affichera des informations sensibles. .</div>
{% endblock %}
